.box{
    background-color: gray;
    margin-top: 5px;
    margin-left: 600px;
    margin-right: 700px;
}
.two{
    margin-top: 5px;
    margin-left: 40px;
}
.first{
    background-color: lightskyblue;
    font-size: 30px;
}